external-sources=true
source-path=SCRIPTDIR
check-sourced=true
enable=require-variable-braces
enable=require-double-brackets
enable=deprecate-which
enable=check-extra-masked-returns
enable=quote-safe-variables
enable=avoid-nullary-conditions
